._blog p,
._blog_monad_vs_rollups p,
._blog_who_what_how_why_when p,
._blog_security_benefits_of_monad p,
._blog_testnet_data_first_day p,
._blog_monad_madness_hk p,
._blog_monad_games_cipher_challenge p,
._blog_monad_testnet_important_projects p,
._blog_monadbft_intro p,
._blog_how_monad_work p,
._blog_hyperliquid_monad_sonic p,
._blog_monadbft_deep_dive_p1 p,
._blog_monadbft_deep_dive_p2 p,
._blog_keonehon_interview p,
._blog_why_i_love_monad_so_much p{
  color: var(--vp-c-text-2);
  line-height: 1.6;
  margin-bottom: 1em;
}

._blog img,
._blog_monad_vs_rollups img,
._blog_monadbft_intro img,
._blog_who_what_how_why_when img,
._blog_security_benefits_of_monad img,
._blog_testnet_data_first_day img,
._blog_monad_madness_hk img,
._blog_monad_games_cipher_challenge img,
._blog_monad_testnet_important_projects img,
._blog_how_monad_work img,
._blog_hyperliquid_monad_sonic img,
._blog_monadbft_deep_dive_p1 img,
._blog_monadbft_deep_dive_p2 img,
._blog_keonehon_interview img,
._blog_why_i_love_monad_so_much img {
  width: 100%;
  border-radius: 8px;
  margin: 1.5em 0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

