/* 活动页面通用样式 */
._event p, li,
._event_monad101 p,
._event_monad_testnet_firstexp_ama p, li,
._event_monad101_hk p,
._event_monad201_sz p,
._event_monad201_sz td,
._event_monad_flash_mop_april p,
._event_monad101_bootcamp p,
._event_monad_bootcamp_ama_423 p,
._event_monad_bootcamp_ama p,
._event_break_monad_v2 p,
._event_monad_mcp_abc p,
._event_monad_blitz_shenzhen p {
  color: var(--vp-c-text-2);
  line-height: 1.6;
  margin-bottom: 1em;
}

/* 活动标题样式 */
._event h1,
._event_monad101 h1,
._event_monad101_hk h1,
._event_monad201_sz h1,
._event_monad101_bootcamp h1 {
  color: var(--vp-c-text-1);
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 1em;
}

/* 活动列表样式 */
._event ul,
._event_break_monad_v2 ul,
._event_monad101 ul {
  padding-left: 1.5em;
  margin-bottom: 1.5em;
}

/* 活动表格样式 */
._event_monad201_sz table {
  width: 100%;
  border-collapse: collapse;
  margin: 1em 0;
}

._event_monad201_sz td {
  padding: 0.75em;
  border: 1px solid var(--vp-c-border);
}

/* 活动图片样式 */
._event img,
._event_monad101 img,
._event_monad101_hk img,
._event_monad_bootcamp_ama_423 img,
._event_monad_madness_hk_ama_424 img,
._event_monad_mcp_abc img,
._event_monad_mcp_abc iframe,
/* ._event_monad201_sz img, */
._event_break_monad_v2 img,
._event_monad101_bootcamp img,
._event_monad_blitz_shenzhen img {
  width: 100%;
  border-radius: 8px;
  margin: 1.5em 0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

._event_monad_flash_mop_april img {
  border-radius: 8px;
  display: block;
  margin: 0 auto;
  width: 40%;
  /* max-width: 100%; */
  height: auto;
}

.flash_mop_sub_title {
	margin: 48px 0 16px;
    border-top: 1px solid var(--vp-c-divider);
    padding-top: 24px;
    letter-spacing: -0.02em;
    line-height: 32px;
    font-size: 24px;
	font-weight: bold;
	text-align: center;
}
