name: Deploy to Production

on:
  workflow_run:
    workflows: ["CI Build Check"]  
    types:
      - completed

    jobs:
      deploy:
        if: ${{ github.event.workflow_run.conclusion == 'success' }}
        runs-on: ubuntu-latest
        steps:
          - name: SSH Deploy
            uses: appleboy/ssh-action@v1.0.0
            with:
              host: ${{ secrets.SERVER_HOST }}
              username: root
              key: ${{ secrets.SERVER_SSH_KEY }}
              script: |
                bash /root/app/gmonad.cc/deploy.sh

